.Quotes-main {
  padding: 0;
 /* padding-bottom: 10vw; */
}

.quotes-top {
  /* padding: 0 6.375rem; */
  justify-content: space-between;
  /* align-items: start; */
  
    /* max-width: 1440px; */
    margin: auto;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    padding-top: 8.75rem;
    /* padding-bottom: 8.75rem; */

}

.quotes-top .right {
  align-items: start;
  padding-top: 20px;
  max-width: 500px;
}

.quotes-top .right p {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #565774;
  /* text-align: center; */
}

/* *******************lower****************** */

.quote-box-1,
.quote-box-2 {
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  color: white;
}

.quote-box-1 {
  background: #035e7c;
}
.quote-box-2 {
  background: #023856;
}

.quotes-lower p{
font-size: 18px;
font-weight: 700;
line-height: 21.6px;
text-align: center;
text-wrap: nowrap;
}

.quotes-mid-img { 
  width: auto;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* float: right; */
}

@media (max-width:992px) {
  .quotes-lower{
    display: flex;
    flex-direction: column;
    word-wrap: wrap;
    gap: 10px;
  }
  .quotes-top{
    padding: 10vw 1.25rem !important;
  }
  .quotes-lower{
    padding: 0 1.25rem;
  }
  .quotes-lower p{

  text-wrap: wrap;
  }

  .quotes-mid-img img{ 
    width: 100%;
  }
}