.header-main{
  /* padding-bottom: 10px; */
}
.header-close {
  background: var(--dark-blue);
  height: 48px;
}

.header-close {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-close span {
  display: inline-block;
  margin-left: 6px;
  color: var(--white);
  line-height: 21.6px;
  text-align: center;
}


.close-bar i{
  color: var(--light-green);
  font-size: 30px;
}

/* ************************header-box*************** */

.haeder-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 20px 100px;
  border-bottom: 1px solid #EBEBFF;
}
.header-logo {
  width: 207.95px;
  height: 60px;
  
}
.nav-links-box {
  display: flex;
  gap: 8px;
}

.nav-links-box  li h2{

  font-size: 16px!important;
}
.nav-links-box  li {
  width: 83px;
  /* height: 39px; */
  /* padding: 10px 20px; */
  font-weight: 600;
  line-height: 19.2px;
  color: var(--dark-blue);
}

.btn-box{
  display: flex;
  align-items: center;
  gap: 20px;
}


.sign-btn {

  color: var(--dark-blue);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
    /* padding-bottom: 10px; */

}
.start-therapy-btn {
  background: var(--dark-blue);
  color: var(--white);
  width: 154px;
  height: 40px;
  padding: 9px 24px 11px 24px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}

@media (max-width:738px) {
  .header-close{display: none;}
}