.why-therapy-main>div>p {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  padding: 5vw 0;
  color: #575875;
}

.therapy-boxes {
  max-width: 100%;
  gap: 20px;
}

.online-therapy {

  gap: 40px;
  border-radius: 40px;
  padding: 3rem;
  opacity: 0px;
  /* width: 55%; */
  background: #023856;
}

.online-therapy h2{
font-size: 36px;
    color: white;
font-weight: 700;
line-height: 43.2px;
text-align: left;
padding-bottom: 40px;
margin-bottom: 0;
}
 .online-therapy p{

font-size: 22px;
font-weight: 600;
line-height: 30.8px;
text-align: left; 
color: white;
padding-bottom: 32px;
 }
 .online-therapy span{
font-size: 24px;
font-weight: 700;
line-height: 33.6px;
text-align: left;

 }

.in-person-therapy {
  /* width: 45%; */
  background: #f5f5ff;
  padding: 48px;
  border-radius: 40px;
}

.in-person-therapy h2{
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-align: left;
padding-bottom: 40px;
color: #575875;
}

.in-person-therapy p{
font-size: 18px;
font-weight: 600;
line-height: 25.2px;
text-align: left;
padding-bottom: 32px;
color: #575875;

}