@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /**
   * colors
   */

  --dark-blue: #023856;
  --light-green: #62cf6e;
  --button-green: #43b95d;
  --white: #ffffff;
  --text-grey-40: #575875;
  --text-black: #10131d;
  --middle-blue: #035e7c;
  --bg-grey: #f5f5ff;
  --light-blue: #2fa2c6;

  /**
   * typography
   */

  --ff-Gilmer: "Gilmer", sans-serif;
  --ff-Roboto: "Roboto", sans-serif;
  --ff-Inter: "Inter", sans-serif;

  :root {
    --fs-72: 4.5rem;
    --fs-60: 3.75rem;
    --fs-44: 2.75rem;
    --fs-32: 2rem;
    --fs-20: 1.25rem;
    --fs-: 1.125rem;
    --fs-16: 1rem;

    --fw-700: 700;
    --fw-400: 400;
    --fw-600: 600;
  }
}

* {
  font-family: var(--ff-Gilmer);
  
}



.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
html {
  font-family: var(--ff-Inter);
}

h1 {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: var(--dark-blue);
}

.h2,
.h3 {
  color: var(--white);
  font-weight: var(--fw-700);
  /* line-height: 1.4; */
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-3);
}

.span-green {
  display: inline-block;
  color: var(--light-green);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px !important;
}

a,
img,
span,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.p-wrapper {
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}

.wrapper {
  /* max-width: 1440px; */
  margin: auto;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
}
@media (max-width: 730px) {
  .p-wrapper {
    padding: 0 20px;
  }
  .wrapper {
    padding: 10vw 1.25rem;
  }
  h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
  }
  p {
    font-size: 16px;
  }
}

img {
  background: red;
}
